.body {
    border: 2px;
    Margin: 50px;
    background-color: lightblue;
}

.h1 {
    color: navy;
    margin-left: 30px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
 }
 .p {
    font-family: "Lucida Console", "Papyrus", Monaco;
 }
