  <style>
  img {
  display: center;
}
body {
    border: 2px;
    Margin: 50px;
    background-color: lightsteelblue;
}

h1 {
    ont-family: "Lucida Console", "Papyrus", Monaco;
    font-size: 1em;
    font-color: midnightblue;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
 }
 p {
    ont-family: "Lucida Console", "Papyrus", Monaco;
    font-size: 1.5em;
    font-color: midnightblue;
 }
 ul {
    font-family: "Papyrus", Monaco;
    font-size: 1.5em;
    font-color: indigo;        
}
</style>
